/* Layout */
html {
  line-height: normal !important;
  font-size: medium !important;
}

body {
  background-image: url("4840720.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  justify-content: center;
  font-family: monospace;
}

.footer {
  text-align: right;
  margin: 3rem 0;
}

/* Utils */
.small {
  font-size: 0.6rem;
}

/* Table Layout */
.grid {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

/* Elements */
.element {
  background-color: #d1cdcd;
  border-radius: 5px;
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.15rem;
}

.element-hover {
  cursor: pointer;
}

.element-hover:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 10px 0px rgba(73, 73, 73, 0.5);
}

.element-container {
  padding: 3px;
}

/* Element Details */
.sidenav {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}

.sidenav .element {
  transform: scale(1.5);
  margin: 2rem;
}
