.grid {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

body {
  display: flex;
  justify-content: center;
  background-image: url("4840720.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.element {
  background-color: #f1f1f1;
  width: 3rem;
  height: 3rem;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.small {
  font-size: 0.6rem;
}
