{{page-title "EmberPeriodicTable"}}

<div class="app">
    <div class="header">
        <h1>Periodic Table</h1>
    </div>
    {{outlet}}
    <div class="footer">
        <small>
            Made with Ember.js ♥
        </small>
    </div>
</div>